/*fonts*/
    @font-face {
        font-family: Renner;
        src: url(../media/fonts/Renner300Light.ttf);
        font-weight: 300;
    }

    @font-face {
        font-family: Renner;
        src: url(../media/fonts/Renner400Book.ttf);
        font-weight: 400;
    }

    @font-face {
        font-family: Renner;
        src: url(../media/fonts/Renner500Medium.ttf);
        font-weight: 500;
    }

    @font-face {
        font-family: Renner;
        src: url(../media/fonts/Renner700Bold.ttf);
        font-weight: 700;
    }
    