.left-container {
    float: left;
    z-index: 2;
    position: absolute;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: $justwhite;
    color: $pureblack;
    transition: all 0.2s ease;
    box-shadow: 0px 2px 4px $shadow;

    @include respond-to('mobile-lg') {
        left: -350px;
        width: 350px;
    }

    @include respond-to('desktop') {
        position: relative;
        left: 0px;
        transition: all 0.2s ease;
    }

    .menu-button {
        text-align: right;
        height: 50px;

        @include respond-to('desktop') {
            text-align: left;
        }

        .title {
            display: inline-block;
            font-weight: 400;
            padding: 2px 15px;
        }
    
        .menu-icon {
            position: absolute;
            left: 100%;
            padding: 10px;
            z-index: 3;
            color: $justwhite;
            transition: all 0.2s ease;
    
            &:hover {
                cursor: pointer;
            }
    
            @include respond-to('mobile-lg') {
                left: 350px;
            }
    
            @include respond-to('desktop') {
                display: none;
            }
        }
    
        .menu-icon-open {
            left: 0;
            color: $kindofred;
            transition: all 0.2s ease;
        }
    }

    .tools {
        margin-top: 20px;
        overflow-y: auto;
        width: 100%;
        height: calc(100vh - 122px);

        .item {
            height: 50px;
            width: 100%;
            background-color: $justwhite;

            .content {
                padding: 7px;
                color: $grey;

                &:hover {
                    cursor: pointer;
                    transition: all 0.2s ease;
                }

                .icon {
                    position: absolute;
                    right: 10px;
                    padding: 10px 0px;
                }
    
                h2 {
                    display: inline-block;
                    font-weight: 400;
                    font-size: 1.5em;
                    padding-left: 10px;
                }
            }
        }
        
        .colors {
            position: relative;

            .hexcode {
                font-weight: 400;
                font-size: 1.5em;
                padding: 7px;
            }
            
            .items {
                position: absolute;
                top: 13px;
                right: 10px;
            
                .fa-lock {
                    opacity: 1;
                }

                .icon {
                    width: 30px;
                    font-size: 1.3em;
                }
            }
        }

        .one {
            background-color: $bleen;
            color: #ffffff;
            transition: color 0.2s ease;
            transition: background-color 0.2s ease;
        }

        .two {
            background-color: $kindofred;
            color: #000000;
            transition: color 0.2s ease;
            transition: background-color 0.2s ease;
        }

        .switch-colors {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
            transition: all 0.2s ease;
            
            &:hover {
                cursor: pointer;
                transition: all 0.2s ease;
            }

            .content {
                padding: 7px;

                .switch-icon {
                    display: inline-block;
                }
    
                h2 {
                    display: inline-block;
                    font-weight: 400;
                    font-size: 1.5em;
                    padding-left: 10px;
                }
            }
        }

        .savebutton {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
            height: 50px;
            transition: all 0.4s ease;

            &:hover {
                height: 150px;
                transition: all 0.4s ease;
            }

            &:hover .img {
                top: 0px;
                opacity: 1;
                z-index: 0; 
                transition: all 0.4s ease;
            }
            
            &:hover .css {
                top: 0px;
                opacity: 1;
                z-index: 0;
                transition: all 0.4s ease;
            }

            .img, .css{
                position: relative;
                opacity: 0;
                z-index: -2;
                transition: all 0.4s ease;

                .content {
                    padding: 7px 17px;
                }
            }

            .img {
                top: -50px;
            }

            .css {
                top: -100px;
            }
        }
    }

    .color-history {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
        height: 50px;
        transition: all 0.8s ease;

        &:hover {
            height: 300px;
            transition: all 0.8s ease;
        }
        
        &:hover .hcolor {
            z-index: 0;

            &:nth-child(2) {
                top: 0px;                
            }

            &:nth-child(3) {
                top: 0px;                
            }

            &:nth-child(4) {
                top: 0px;                
            }

            &:nth-child(5) {
                top: 0px;                
            }
            
            &:nth-child(6) {
                top: 0px;                
            }
            opacity: 1;
            transition: all 0.8s ease;
        }

        .hcolor {
            position: relative;
            z-index: -2;
            opacity: 0;
            transition: all 0.8s ease;

            &:nth-child(2) {
                top: -100px;                
            }

            &:nth-child(3) {
                top: -150px;                
            }

            &:nth-child(4) {
                top: -200px;                
            }

            &:nth-child(5) {
                top: -250px;                
            }

            &:nth-child(6) {
                top: -300px;                
            }

            .cc {
                float: left;
                width: 32%;
                height: 50px;
                background-color: $kindofred;
            }

            .bc {
                float: left;
                width: 32%;
                height: 50px;
                background-color: $bleen;
            }

            .content {
                float: left;
                width: 32%;
                padding-top: 13px;
                padding-bottom: 13px;
                text-align: center;
            }
        }

    }

    .footer {
        width: 100%;
        height: 50px;
        text-align: center;

        h3 {
            font-weight: 400;
            font-size: 18px;
            padding: 11px 16px;
        }
    }
}

.left-container-open {
    left: 0;
}
