 //font
   $font: Renner;
 //colors
   $justwhite: #ffffff;
   $pureblack: #000000;
   $shadow: rgba(0,0,0,0.18);
   $bg-color: #ffffff;
   $bleen: #082837;
   $kindofred: #fd7579;
   $grey: #949494;
   $ligtergrey: #CECECE;
   $somegrey:   #fbfbfb;
   